<div th:fragment="_nav_bar">
     
    <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container">
            <button type="button" class="action__btn action__btn-burgerMenu mr-30 d-none d-lg-block">
            <i class="icon-nav"></i>
            </button>
            <a class="navbar-brand" th:href="@{/}">
	            <img th:src="@{/assets/images/logo/logo_light.png}" class="logo-light" alt="logo">
	            <img th:src="@{/assets/images/logo/logo.png}" class="logo-dark" alt="logo">
            </a>
            <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavigation">
                <ul class="navbar-nav mr-auto ml-auto">
                	<li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'home') ? 'active':''}"
                        	th:href="@{/}" class="nav__item-link text-nowrap">Accueil</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'about') ? 'active':''}"
                        	th:href="@{/about}" class="nav__item-link text-nowrap">A propos</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'expertise') ? 'active':''}"
                        	th:href="@{/expertise}" class="nav__item-link text-nowrap">Expertise</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'solutions') ? 'active':''}"
                        	th:href="@{/solutions}" class="nav__item-link text-nowrap">Solutions</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'realisations') ? 'active':''}"
                        	th:href="@{/realisations}" class="nav__item-link text-nowrap">Réalisations</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'blog') ? 'active':''}"
                        	th:href="@{/blog}" class="nav__item-link text-nowrap">Actualités</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'contact') ? 'active':''}"
                        	th:href="@{/contact}" class="nav__item-link text-nowrap">Contacts</a>
                    </li>
                    <li class="nav__item">
                        <a 
                        	th:classappend="${(active_menu == '' || active_menu == 'faqs') ? 'active':''}"
                        	th:href="@{/faqs}" class="nav__item-link text-nowrap">FAQs</a>
                    </li>
                    <!-- /.nav-item -->
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-collapse -->
            <ul class="navbar-actions list-unstyled mb-0 d-flex align-items-center">
                <li class="d-none d-xl-block">
                    <a th:href="@{/contact}"
                    	class="btn btn__primary btn__primary-style2 btn_ action__btn-contact">Demander un devis
                	</a>
                </li>
            </ul>
            <!-- /.navbar-actions -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navabr -->
    
</div>