<div th:fragment="_left_sidebar">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/}" class="brand-link text-center">
            <div class="image">
                <img th:src="@{/assets/images/logo/logo_light.png}" alt="logo">
            </div>
        </a>
        <!-- Sidebar menu -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel pt-xlg pb-md d-flex">
                <div class="info">
                    <a th:href="@{/profil}" class="d-block">
                    	<h6 class="m-none text-bold" th:text="${session.Utilisateur.username}"></h6>
                    	<span class="text-sm" th:text="${#strings.toUpperCase(session.Utilisateur.role.role)}"></span>
                    </a>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul data-widget="treeview" role="menu" data-accordion="false"
                    class="nav nav-pills nav-sidebar flex-column nav-flat nav-legacy nav-compact nav-child-indent text-sm">
                    <li class="nav-item">
                        <a th:href="@{/tableau_de_bord}"
                            th:classappend="${(active_menu == '' || active_menu == 'tableau_de_bord') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt text-xs"></i>
                            <p>Tableau de bord</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/actualite}"
                            th:classappend="${(active_menu == '' || active_menu == 'actualite') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-bullhorn text-xs"></i>
                            <p>Actualités</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/client}"
                            th:classappend="${(active_menu == '' || active_menu == 'clients') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-star text-xs"></i>
                            <p>Clients Ebenyx</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/solution_ebenyx}"
                            th:classappend="${(active_menu == '' || active_menu == 'solutions') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-star text-xs"></i>
                            <p>Solutions Ebenyx</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/partenaire}"
                            th:classappend="${(active_menu == '' || active_menu == 'partenaire') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-bullhorn text-xs"></i>
                            <p>Partenaires Ebenyx</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/certification}"
                            th:classappend="${(active_menu == '' || active_menu == 'certification') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-bullhorn text-xs"></i>
                            <p>Certifications Ebenyx</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/realisation}"
                            th:classappend="${(active_menu == '' || active_menu == 'realisations') ? 'active':''}"
                            class="nav-link">
                            <i class="nav-icon fas fa-bullhorn text-xs"></i>
                            <p>Réalisations</p>
                        </a>
                    </li>
                    <hr class="m-sm">
                    <!-- Maintenance-Sécurité -->
                    <li 
                        th:classappend="${(active_menu_iten == '' || active_menu_iten == 'configuration') ? 'menu-is-opening menu-open':''}"
                        class="nav-item">
                        <a 
                            href="#" class="nav-link"
                            th:classappend="${(active_menu_iten == '' || active_menu_iten == 'configuration') ? 'active':''}">
                            <i class="nav-icon fas fa-cogs text-xs"></i>
                            <p>
                                Configurations
                                <i class="right fas fa-angle-left text-xs"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a 
                                    th:classappend="${(active_menu == '' || active_menu == 'bundle') ? 'active':''}"
                                    th:href="@{/bundle}" class="nav-link">
                                    <i class="fa fa-circle nav-icon text-xs"></i>
                                    <p>Bundle</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a 
                                    th:classappend="${(active_menu == '' || active_menu == 'bundle') ? 'active':''}"
                                    th:href="@{/bundle}" class="nav-link">
                                    <i class="fa fa-circle nav-icon text-xs"></i>
                                    <p>autre</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <hr class="m-sm">
                    <li
                        th:if="${session.Utilisateur.role.role == 'integrateur' OR session.Utilisateur.role.role == 'super administrateur'}"
                        class="nav-header">Maintenance & Sécurité</li>
                    <li 
                        th:if="${session.Utilisateur.role.role == 'integrateur' OR session.Utilisateur.role.role == 'super administrateur'}"
                        class="nav-item">
                        <a 
                            th:classappend="${(active_menu == '' || active_menu == 'administrateurs') ? 'active':''}"
                            th:href="@{/administrateurs}" class="nav-link">
                            <i class="fa fa-key nav-icon text-xs"></i>
                            <p>Administrateurs</p>
                        </a>
                    </li>
                    <li 
                        th:if="${session.Utilisateur.role.role == 'integrateur' OR session.Utilisateur.role.role == 'super administrateur'}"
                        class="nav-item">
                        <a 
                            th:classappend="${(active_menu == '' || active_menu == 'parametre') ? 'active':''}"
                            th:href="@{/parametre}" class="nav-link">
                            <i class="fa fa-cogs nav-icon text-xs"></i>
                            <p>Paramètres</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</div>