<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- _header -->
        <th:block th:include="admin/partials/_header/index :: _header"></th:block>
        <!-- /._header -->
        <!-- DataTables -->
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- _topbar -->
            <th:block th:include="admin/partials/_topbar/index :: _topbar"></th:block>
            <!-- /. _topbar -->
            
            <!-- _left_sidebar -->
            <th:block th:include="admin/partials/_left_sidebar/index :: _left_sidebar"></th:block>
            <!-- /. _left_sidebar -->
            <div class="content-wrapper">
                <!-- Debut breadcrumb -->
                <th:block th:include="admin/partials/_breadcrumb/index :: _breadcrumb"></th:block>
                <!-- Fin breadcrumb -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Debut notification -->
                        <th:block th:include="admin/partials/_notification/index :: _notification"></th:block>
                        <!-- Fin notification -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card table-responsive">
                                	<div class="card-header">
                                        <a th:href="@{/solution_ebenyx/formcreate}"
                                        	class="btn btn-default btn-sm">
                                        	<span class="fa fa-plus mr-sm text-xs"></span>Ajouter
                                        </a>
                                    </div>
                                    <div class="card-body p-sm">
                                        <table id="example1" class="table table-bordered table-striped text-sm projects">
                                            <thead class="text-nowrap">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Titre</th>
                                                    <th>Description</th>
                                                    <th>Etat</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="e , custStat: ${Solutions}">
                                                    <td class="text-center" th:text="${custStat.count}"></td>
                                                    <td class="text-nowrap" th:text="${e.titre}"></td>
                                                    <td th:text="${e.description}"></td>
                                                    <td>
                                                        <span th:if="${e.etat == 0}" class="badge badge-danger p-xs">Desactivé</span>
                                                        <span th:if="${e.etat == 1}" class="badge badge-success p-xs">Activé</span>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a th:href="@{/solution_ebenyx/formupdate(id=${e.idSolution})}"
                                                            class="btn btn-primary btn-xs text-xs">
                                                        <i class="fa fa-pen mr-xs"></i>Modifier</a>
                                                        <a th:if="${e.etat == 0}"
                                                            onclick="return confirm('Voulez-vous activer cette données ?')"
                                                            th:href="@{/solution_ebenyx/active(id=${e.idSolution})}"
                                                            class="btn btn-success btn-xs text-xs">
                                                        <i class="fa fa-unlock mr-xs"></i>Activer</a> 
                                                        <a th:if="${e.etat == 1}"
                                                            onclick="return confirm('Voulez-vous desactiver cette données ?')"
                                                            th:href="@{/solution_ebenyx/active(id=${e.idSolution})}"
                                                            class="btn btn-danger btn-xs text-xs">
                                                        <i class="fa fa-lock mr-xs"></i>Desactiver</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Debut footer -->
            <th:block th:include="admin/partials/_footer/index :: _footer"></th:block>
            <!-- Fin footer -->
        </div>
        <!-- ./wrapper -->
        <!-- jQuery -->
        <script th:src="@{/assets/admin/plugins/jquery/jquery.min.js}"></script>
        <!-- Bootstrap 4 -->
        <script th:src="@{/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <!-- DataTables  & Plugins -->
        <script th:src="@{/assets/admin/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/jszip/jszip.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/pdfmake/pdfmake.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/pdfmake/vfs_fonts.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/assets/admin/dist/js/adminlte.min.js}"></script>
        <!-- AdminLTE for demo purposes -->
        <script th:src="@{/assets/admin/dist/js/demo.js}"></script>
        <!-- Page specific script -->
        <script>
            $(function () {
              $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print"]
              }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });
        </script>
    </body>
</html>