<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img th:src="@{/assets/images/page-titles/2.jpg}" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page_title -->
            <!-- ======================
                Blog Grid
                ========================= -->
            <section class="blog-grid">
                <div class="container">
                
                    <div th:if="${#lists.size(Actualites.content) == 0}" 
                        class="alert alert-info text-center">
                        <p class="m-none">Aucune l'actualité disponible dans le blog.</p>
                    </div>
                    
                    <div th:if="${#lists.size(Actualites.content) != 0}">
                        <div class="row">
                            <!-- Blog Item -->
                            <div th:each="e, custStat: ${Actualites.content}"
                                class="col-md-4">
                                <div class="post-item">
                                    <div class="post-item__img">
                                        <a th:href="@{/blog/view/__${e.soeUrl}__}">
                                        <img th:alt="${e.titreActualite}"
                                            th:src="@{/blog/getphotogrid(originalFilename=${e.photoActualite})}">
                                        </a>
                                    </div>
                                    <!-- /.blog-img -->
                                    <div class="post-item__content">
                                        <div class="post-item__meta d-flex flex-wrap">
                                            <div class="post-item__meta__cat">
                                                <a href="#">Consulting</a>
                                                <a href="#">Sales</a>
                                            </div>
                                            <!-- /.blog-meta-cat -->
                                            <span class="post-item__meta__date">
                                            <span
                                                th:text="${#dates.format(e.dateDeParution, 'dd')}"></span>
                                            <span class="text-uppercase"
                                                th:text="${#dates.format(e.dateDeParution, 'MMMM')}"></span>,
                                            <span
                                                th:text="${#dates.format(e.dateDeParution, 'YYYY')}"></span>
                                            </span>
                                        </div>
                                        <h5 class="post-item__title"><a th:href="@{/blog/view/__${e.soeUrl}__}">
                                            <span th:text="${e.titreActualite}"></span></a>
                                        </h5>
                                        <p class="post-item__desc">
                                            <span th:text="${e.resumeActualite}"></span>
                                        </p>
                                        <a th:href="@{/blog/view/__${e.soeUrl}__}" 
                                            class="btn btn__secondary btn__link mt-none">
                                        <span>Lire plus</span>
                                        <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                    <!-- /.blog-content -->
                                </div>
                                <!-- /.post-item -->
                            </div>
                            <!-- /.col-lg-4 -->
                        </div>
                        <!-- /.row -->
                        
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            	<!-- customers pagination -->
								<nav class="pagination-area" th:if="${Actualites.totalPages gt 0}">
								    <ul class="pagination justify-content-center">
								        <li th:classappend="${Actualites.number eq 0} ? 'disabled'">
								            <a class="pageLink"
								               th:href="@{/blog?page={id}(id=${Actualites.number lt 2 ? 1 : Actualites.number})}"
								               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
								                <span aria-hidden="true">&laquo;</span>
								            </a>
								        </li>
								        <li th:classappend="${i eq Actualites.number + 1} ? 'active'"
								            th:each="i : ${#numbers.sequence( 1, Actualites.totalPages, 1)}">
								            <a class="pageLink" th:href="@{/blog?page={id}(id=${i})}" th:text="${i}"
								               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
								        </li>
								        <li th:classappend="${Actualites.number + 1 eq Actualites.totalPages} ? 'disabled'">
								            <a class="pageLink"
								               th:href="@{/blog?page={id}(id=${Actualites.number + 2})}"
								               aria-label="Next" title="Next Page" data-toggle="tooltip">
								                <span aria-hidden="true">&raquo;</span>
								            </a>
								        </li>
								    </ul>
								</nav>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row pagination -->
                    </div>
                </div>
                <!-- /.container -->
            </section>
            <!-- /.blog Grid -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>