<div th:fragment="_preloader">

    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" th:src="@{/assets/diplona_cargo_logo.png}" th:alt="@{/assets/diplona_cargo_logo.png}">
    </div>

</div>