<div th:fragment="_top_bar">

    <div class="d-none d-md-block">
        <div class="topbar bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-items-center">
                        <img class="mr-sm" th:src="@{/assets/images/icons/tick-icon-top.png}">
                        <span class="text-bold">Technologies Opensource & Cyber Sécurity</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 call-center text-right">
                        <ul class="list-inline contact-info m-0">
                            <li>
                                <a class="topbar__text mr-lg">
                                <i class="fa fa-phone mr-sm"></i>
                                (+225) 27 20 22 30 98 - 07 08 28 05 44
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/}" class="topbar__text a_ebt">
                                <i class="fa fa-globe mr-xs"></i>
                                ebenyx.com
                                </a>
                            </li>
                        </ul>
                        <!-- /.list-inline -->              
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.topbar -->
    </div>
    
</div>