<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page title 
                =========================== -->
            <section class="page-title page-title-layout1 bg-overlay bg-parallax">
                <div class="bg-img"><img src="assets/images/page-titles/2.jpg" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-xl-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page-title -->
            <!-- ========================
                Transformation Digitale Layout 
                =========================== -->
            <section class="about-layout2 pb-130">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
                            <div class="about__img">
                                <img src="assets/images/about/transformation_digitale.jpg" alt="about">
                                <div class="cta-banner p-none">
                                    <img src="assets/images/about/ebt.png" class="p-sm" alt="about">
                                </div>
                                <!-- /.cta-banner -->
                            </div>
                            <!-- /.about-img -->
                        </div>
                        <!-- /.col-xl-5 -->
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                            <div class="heading-layout2 mb-30">
                                <h3 class="heading__title mb-30">Transformation <span class="color_red_ebenyx">Digitale</span>
                                </h3>
                            </div>
                            <!-- /heading -->
                            <div class="about__Text">
                                <p>
                                    Les évolutions technologiques forcent les entreprises aujourd’hui à réaliser de gros investissements sur la transformation digitale.
                                    Réussir ce tournant numérique est devenu indispensable.
                                </p>
                                <p>
                                    Afin d’être en mesure d’intégrer ces nouvelles technologies dans l’ensemble de vos activités,
                                    nous vous proposons différents services :
                                </p>
                                <ul class="list-items list-unstyled mb-0">
                                    <li>Liés à la direction générale, logistique, finance, ressources humaines, ... </li>
                                    <li>L'assistance à Maîtrise d’Ouvrage (AMOA)</li>
                                    <li>L’étude et la définition d’un Schéma d’Architecture Technique Stratégique.</li>
                                    <li>D’audit et de  cartographie de vos infrastructures informatique.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-xl-7 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.Transformation Digitale -->
            <!-- =========================== 
                notre_expertise
                ============================= -->
            <section id="case-studies" class="portfolio-layout2 portfolio-layout2-carousel">
                <div class="bg-img"><img src="assets/images/backgrounds/globe.png" alt="background"></div>
                <div class="container">
                    <div class="row">
                        <div class="row p-none m-none">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                <div class="heading-layout2 mb-30">
                                    <h3 class="heading__title mb-30">Technologies <span class="color_red_ebenyx">Oracle</span>
                                    </h3>
                                </div>
                                <!-- /heading -->
                                <div class="about__Text text-justify">
                                    <p>
                                        Oracle est une entreprise de logiciels, référence dans le monde. En effet, elle dispose de nombreux produits phares,
                                        que nous pouvons implémenter au sein de votre entreprise. 
                                    </p>
                                    <p>
                                        <span class="text-bold">AUDIT</span> : Afin de vérifier/contrôler l’exploitation de vos informations, notre solution
                                        <span class="color_red_ebenyx text-bold">ORACLE AUDIT VAULT</span> permet de consulter,
                                        collecter, contrôler, stocker et  vérifier les données d’audit provenant de bases de données Oracle et Microsoft SQL Server. 
                                    </p>
                                </div>
                            </div>
                            <!-- /.col-xl-7 -->
                            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center">
                                <div class="about__img mb-20">
                                    <img src="assets/images/certifications/oracle.png" alt="about">
                                </div>
                                <!-- /.about-img -->
                            </div>
                            <!-- /.col-xl-5 -->
                        </div>
                        <!-- /.row -->
                        <div class="row p-none m-none">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="about__Text text-justify">
                                    <p>
                                        <span class="text-bold color_red_ebenyx">SÉCURITÉ - ORACLE DATABASE VAULT, ORACLE DATABASE FIREWALL, ORACLE ACCESS MANAGER</span><br>
                                        Ebenyx Technologies fournit un ensemble  de solutions qui protégeront votre entreprise de diverses menaces extérieures,
                                        intérieures, de la non-répudiation ou encore du vol de matériel donnant l’accès à des données confidentielles.
                                    </p>
                                    <p>
                                        <span class="text-bold color_red_ebenyx">DISPONIBILITÉ - ORACLE ACTIVE GUARD, ORACLE REAL APPLICATION CLUSTER, ORACLE SECURE BACKUP et RMAN</span><br>
                                        Nos solutions vous permettront de rendre vos bases de données rapidement accessibles et récupérables afin d’avoir une interruption de service minime et surtout,
                                        aucune perte de données.
                                    </p>
                                </div>
                            </div>
                            <!-- /.col-xl-7 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.row_Technologies_Oracle -->
                    <div class="row align-items-center mt-30 mb-30">
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center">
                            <div class="about__img mb-20">
                                <img src="assets/images/certifications/cybersecurity_2.png" alt="about">
                            </div>
                            <!-- /.about-img -->
                        </div>
                        <!-- /.col-xl-5 -->
                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                            <div class="heading-layout2 mb-30">
                                <h3 class="heading__title mb-30">Cybersécurité & <span class="color_red_ebenyx">Infrastructure</span></h3>
                            </div>
                            <!-- /heading -->
                            <div class="about__Text text-justify">
                                <p>
                                    La sécurité des données d’une entreprise est devenue un enjeu capital pour toute organisation.
                                    Dans un contexte où le traitement des données est de plus en plus important, elles sont
                                    d’autant plus vulnérables aux cyberattaques pouvant entraîner des interruptions de longues durées de leur SI.
                                    Il est donc nécessaire de comprendre et bien saisir l’importance de la cybersécurité.
                                </p>
                                <p>
                                    Dans cette perspective, nous vous proposons des formations en cybersécurité réalisée par nos propres consultants experts,
                                    ainsi qu’une solution de cybersécurité intégrée qui apporte protection détection et résilience.
                                </p>
                            </div>
                        </div>
                        <!-- /.col-xl-7 -->
                    </div>
                    <!-- /.row_cybersecurity -->
                    <div class="row mt-30 mb-30">
                        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
                            <div class="heading-layout2 mb-30">
                                <h3 class="heading__title mb-30">Formation <span class="color_red_ebenyx">Régie</span>
                                </h3>
                            </div>
                            <!-- /heading -->
                            <div class="about__Text text-justify">
                                <p>
                                    Afin de vous accompagner de la meilleure des manières, nous vous proposons un ensemble de
                                    formations pertinentes vous permettant d’optimiser l’utilisation des solutions que nous implémentons.
                                </p>
                                <p>
                                    Nous mettons à votre disposition nos consultants et formateurs ayant bénéficié de programmes de 
                                    formations internes et titulaires de certifications reconnues ...
                                </p>
                            </div>
                        </div>
                        <!-- /.col-xl-7 -->
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center">
                            <div class="about__img mb-20">
                                <img src="assets/images/certifications/regie.jpg" alt="about">
                            </div>
                            <!-- /.about-img -->
                        </div>
                        <!-- /.col-xl-5 -->
                    </div>
                    <!-- /.row_Technologies_Oracle -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.notre_expertise -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>