<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ==========================
                404
                =========================== -->
            <section class="page-404 mt--100 py-0">
                <div class="bg-img"><img th:src="@{/assets/images/backgrounds/404.jpg}" alt="background"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 d-flex align-items-center vh-100 error-wrapper">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <h1 class="error-code">404</h1>
                                </div>
                                <!-- /.col-lg-6 -->
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <h2 class="error-title">Oops! Cette page est introuvable.</h2>
                                    <p class="error-desc">
                                    	La page demandée est introuvable. Il peut s'agir d'une faute d'orthographe dans le
                                        URL ou page supprimée.
                                    </p>
                                    <a th:href="@{/}" class="btn btn__primary btn__icon btn__md">
                                    <span>De retour à l'accueil</span> <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page-404 -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
    </body>
</html>