<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- _header -->
        <th:block th:include="admin/partials/_header/index :: _header"></th:block>
        <!-- /._header -->
        <!-- DataTables -->
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/assets/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- _topbar -->
            <th:block th:include="admin/partials/_topbar/index :: _topbar"></th:block>
            <!-- /. _topbar -->
            <!-- _left_sidebar -->
            <th:block th:include="admin/partials/_left_sidebar/index :: _left_sidebar"></th:block>
            <!-- /. _left_sidebar -->
            <div class="content-wrapper">
                <!-- Debut breadcrumb -->
                <th:block th:include="admin/partials/_breadcrumb/index :: _breadcrumb"></th:block>
                <!-- Fin breadcrumb -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Debut notification -->
                        <th:block th:include="admin/partials/_notification/index :: _notification"></th:block>
                        <!-- Fin notification -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card table-responsive">
                                    <div class="card-header">
                                        <a th:href="@{/actualite/formcreate}"
                                            class="btn btn-default btn-sm">
                                        <span class="fa fa-plus mr-sm text-xs"></span>Ajouter
                                        </a>
                                    </div>
                                    <div class="card-body p-sm">
                                        <table id="example1" class="table table-bordered table-striped text-sm projects">
                                            <thead class="text-nowrap">
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Titre</th>
                                                    <th>Date de parution</th>
                                                    <th>Date de Création</th>
                                                    <th>Etat</th>
                                                    <th>Contenu de l'article</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="e , custStat: ${Actualites}">
                                                    <td class="text-center" th:text="${custStat.count}"></td>
                                                    <td class="text-nowrap">
                                                        <span th:text="${e.titreActualite}"></span><br>
                                                        <small class="text-italic">Auteur : </small>
                                                        <small class="text-italic" th:text="${e.creerPar.username}"></small>
                                                        <nav class="navbar navbar-expand-sm p-none">
                                                            <!-- action-link -->
                                                            <ul class="navbar-nav">
                                                                <li class="nav-item">
                                                                    <a class="nav-link action-link" th:href="@{/actualite/preview(id=${e.idActualite})}">
                                                                    <small>Preview</small></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link action-link" th:href="@{/actualite/formupdate(id=${e.idActualite})}">
                                                                    <small>Modifier</small></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link action-link" onclick="return confirm('Voulez-vous retirer cette actualité de la fil ?')">
                                                                    <small>Supprimer</small></a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </td>
                                                    <td>
                                                        <span
                                                            th:text="${#dates.format(e.dateDeParution, 'dd')}"></span>
                                                        <span class="text-uppercase"
                                                            th:text="${#dates.format(e.dateDeParution, 'MMMM')}"></span>,
                                                        <span
                                                            th:text="${#dates.format(e.dateDeParution, 'YYYY')}"></span>
                                                    </td>
                                                    <td class="text-nowrap" th:text="${#dates.format(e.dateCreation, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                                    <td>
                                                    	<span class="badge badge-success right" th:text="${e.idActualiteStatus.nom}"></span>
                                                    </td>
                                                    <td>
                                                    	<div class="bg-light p-lg">
                                                    		<div th:utext="${e.contenuActualite}"></div>
	                                                        <hr>
	                                                        <img class="img-fluid pad img-article"
	                                                            th:src="@{/actualite/getphoto(originalFilename=${e.photoActualite})}"
	                                                            th:alt="img_article">
                                                    	</div>                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Debut footer -->
            <th:block th:include="admin/partials/_footer/index :: _footer"></th:block>
            <!-- Fin footer -->
        </div>
        <!-- ./wrapper -->
        <!-- jQuery -->
        <script th:src="@{/assets/admin/plugins/jquery/jquery.min.js}"></script>
        <!-- Bootstrap 4 -->
        <script th:src="@{/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <!-- DataTables  & Plugins -->
        <script th:src="@{/assets/admin/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/jszip/jszip.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/pdfmake/pdfmake.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/pdfmake/vfs_fonts.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{/assets/admin/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
        <!-- AdminLTE App -->
        <script th:src="@{/assets/admin/dist/js/adminlte.min.js}"></script>
        <!-- AdminLTE for demo purposes -->
        <script th:src="@{/assets/admin/dist/js/demo.js}"></script>
        <!-- Page specific script -->
        <script>
            $(function () {
              $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print"]
              }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            });
        </script>
    </body>
</html>