<div th:fragment="_head">
     
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <meta property="site_name" content="Site Internet Ebenyx Technologies - Intégration de Solutions" />
    <meta name="title" description="Site Internet Ebenyx Technologie - Technologies Opensource & Cyber Sécurity" />
    <meta name="description" content="Site Internet Ebenyx Technologie - Prestataire de Service specialiste des Technologies Opensource & Cyber Sécurity" />
    <meta name="keywords" content="Côte d'ivoire, Informatique, Developpement, Sécurité, Technologies Opensource, Cyber Sécurity, Banque, Application Web, Application mobile, Site internet, Intégration, Solution Infirmatique, Kafka, Hervé Guéde, Base de données, Oracle, Java, PostgreSQL, MySql," />
    <meta name="author" content="Ebenyx Technologies" />
    <link th:href="@{/assets/images/favicon/favicon.png}" rel="icon">
    
    <title th:text="${page_title != null}? 'Ebenyx Technologies - Intégration de Solutions | ' + ${page_title} : 'Ebenyx Technologies - Intégration de Solutions'"></title>
    
    <link rel="stylesheet" th:href="@{/assets/fonts/font_familly.css}">
    <link rel="stylesheet" th:href="@{/assets/css/libraries.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.1.1/css/all.css}">
    
    <!-- custom.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/custom.css}" />
    
    <!-- SweetAlert2 -->
    <script th:src="@{/assets/plugins/sweetalert2/dist/sweetalert2.all.min.js}"></script>
    <script type="text/javascript">
        /**
         * desireadje 2020-2021
         * Licensed under ()
         */
         
        function msg_success(message){
            Swal.fire(
                "Félicitation !",
                message,
                "success"
            );
        }
        
        function msg_warning(message){
            Swal.fire(
                "Attention !",
                message,
                "warning"
            );
        }
        
        function msg_error(message){
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: message
            });
        }
        
    </script>
</div>