<div th:fragment="_slider">
    
    <!-- ============================
        Sliders
        ============================== -->
    <div class="slider">
        <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
            data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
            <div class="slide-item align-v-h bg-overlay">
                <div class="bg-img"><img src="assets/images/sliders/5.jpg" alt="slide img"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                            <div class="slide-item__content">
                                <h2 class="slide-item__title">Des logiciels de dernière génération</h2>
                                <p class="slide-item__desc">
                                	Nous sommes des professionnels expérimentés qui comprennent que les services informatiques sont
                                    changeants et sont de véritables partenaires soucieux de votre réussite.
                                </p>
                            </div>
                            <!-- /.slide-content -->
                        </div>
                        <!-- /.col-xl-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.slide-item -->
            <div class="slide-item align-v-h bg-overlay">
                <div class="bg-img"><img src="assets/images/sliders/2.jpg" alt="slide img"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                            <div class="slide-item__content">
                                <h2 class="slide-item__title">Safe Business <br> To Ensure High Availability.</h2>
                                <p class="slide-item__desc">We are experienced professionals who understand that It services is
                                    changing, and are true partners who care about your success.
                                </p>
                                <a href="request-quote.html" class="btn btn__primary btn__primary-style2 btn__hi">Get Started</a>
                            </div>
                            <!-- /.slide-content -->
                        </div>
                        <!-- /.col-xl-7 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.slide-item -->
            <div class="slide-item align-v-h bg-overlay">
                <div class="bg-img"><img src="assets/images/sliders/3.png" alt="slide img"></div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                            <div class="slide-item__content">
                                <h2 class="slide-item__title">Safe Business <br> To Ensure High Availability.</h2>
                                <p class="slide-item__desc">We are experienced professionals who understand that It services is
                                    changing, and are true partners who care about your success.
                                </p>
                                <a href="request-quote.html" class="btn btn__primary btn__primary-style2 btn__hi">Get Started</a>
                            </div>
                            <!-- /.slide-content -->
                        </div>
                        <!-- /.col-xl-7 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.slide-item -->
        </div>
        <!-- /.carousel -->
    </div>
    <!-- /.slider -->
    
</div>