<div th:fragment="_footer">

    <footer class="main-footer text-xs">
        <strong>Copyright &copy; 2021 <a th:href="@{/}">Ebenyx Technologies</a>.</strong>
        Tous les droits sont reservés.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0.1
        </div>
    </footer>

</div>