<div th:fragment="_newsletters">
    
    <div class="footer-contact pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="contact-info">
                        <h6 class="footer-widget__title">Quick Contact</h6>
                        <ul class="contact-list list-unstyled mb-0">
                            <li><a href="tel:00123968574">+ (002) 0106-1245-741</a></li>
                            <li><a href="mailto:Mintech@7oroof.com">Mintech@7oroof.com</a></li>
                        </ul>
                    </div>
                    <!-- /.contact-info -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="contact-info">
                        <h6 class="footer-widget__title">Our Address</h6>
                        <ul class="contact-list list-unstyled mb-0">
                            <li>2307 Beverley Rd , New York 11226 U.S.</li>
                        </ul>
                    </div>
                    <!-- /.contact-info -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-sm-4 col-md-4 col-lg-2">
                    <div class="contact-info">
                        <h6 class="footer-widget__title">Opening Hours</h6>
                        <ul class="contact-list list-unstyled mb-0">
                            <li>Mon - Fri: 8am - 7pm</li>
                            <li>Sat - Sun: 9 am - 8pm</li>
                        </ul>
                    </div>
                    <!-- /.contact-info -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h6 class="footer-widget__title">Newsletter</h6>
                    <form class="footer-form d-flex mb-0">
                        <input type="text" class="form-control mr-20" placeholder="Your Email Address">
                        <button type="submit" class="btn btn__primary btn__primary-style2">Subscribe</button>
                    </form>
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-contact -->
    
</div>