<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img th:src="@{/assets/images/page-titles/2.jpg}" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page_title -->
            
            <section class="secondary-nav sticky-top py-0">
		      <div class="container">
		        <div class="row">
		          <div class="col-12">
		            <nav class="nav nav-tabs justify-content-center">
		              <a th:href="@{/realisations}" class="nav__link">Toutes</a>
		              <a th:href="@{/realisations/oracle}" data-scroll="features" class="nav__link">Oracle</a>
		              <a th:href="@{/realisations/transformation-digitale}" class="nav__link">Transformation Digitale</a>
		              <a th:href="@{/realisations/formation}" class="nav__link">Formation</a>
		              <a th:href="@{/realisations/cybersecutite}" class="nav__link active">Cybersécutité </a>
		            </nav>
		          </div><!-- /.col-12 -->
		        </div><!-- /.row -->
		      </div><!-- /.container -->
		    </section>
		    
            <!-- =========================== 
                portfolio grid 
                ============================= -->
            <section class="portfolio-grid pt-50">
                <div class="container">
                    <div id="filtered-items-wrap" class="row">
                        <!-- portfolio item #1 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Support">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Direction Générale du Trésor et de la Comptabilité Publique – <br>
                                        <span class="color_red_ebenyx">2021 - Cybersécurité</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                        <span class="text-bold h6 color_red_ebenyx">Migration et Sécurisation de la base de données</span><br>
                                        L’enjeu est de taille lorsqu’on en arrive aux fonds d’un pays. Le Trésor représente la banque de l’état ivoirien.
                                        Des données d’une telle ampleur se doivent d’être  sécuriser et gérer avec la plus grande prudence.
                                        Des mises à jour constantes de SGBD sont assuré par Ebenyx depuis 2016; Outre cela, elle assure la haute
                                        disponibilité et la sécurité de ces données.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <!-- portfolio item #2 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Consulting">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Port Autonome d’Abidjan – <br>
                                        <span class="color_red_ebenyx">2021 - Cybersécurité</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                        <span class="text-bold h6 color_red_ebenyx">SentinelOne, Wallix, Rapid 7</span><br>
                                        Le port est une plaque tournante de l’économie de la CI. Il traite des millions de données par années.
                                        Wallix assure l’accès a ces données afin de tracer chaque connexions et personnes qui y accèdent.
                                        SentinelOne empêche l’intrusion de quelques virus, son niveau de sécurisation permet a vos données
                                        de rester intact et même d’être restaurer. Finalement Rapid7 sécurise l’ensemble des appareils informatiques de
                                        l’imprimeuse aux ordinateurs. Elle traite chaque appareil et s’assure qu’il soit au normes de sécurité en vigueur.
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                        <!-- portfolio item #2 -->
                        <div class="col-sm-6 col-md-6 col-lg-4 mix filter-Consulting">
                            <div class="portfolio-item">
                                <div class="portfolio-item__img">
                                    <img th:src="@{/assets/images/portfolio/grid/1.jpg}" alt="portfolio img">
                                </div>
                                <!-- /.portfolio-img -->
                                <div class="portfolio-item__content pl-0">
                                    <h4 class="portfolio-item__title"><a href="#">Ministère de la Fonction Publique – <br>
                                        <span class="color_red_ebenyx">2020 - Cybersécurité</span></a>
                                    </h4>
                                    <p class="portfolio-item__desc">
                                        <span class="text-bold h6 color_red_ebenyx">Test d’intrusion et Audit de des applications WEB </span><br>
                                        A l’ère du cybercrime et de virus informatique plus dangereux que les réels, il est primordial de s’assurer
                                        de la sécurité de ces applications en ligne. Ces vitrines et supports de communication sont l’objet de piratages
                                        constants et constitue malheureusement des accès faciles aux piratages réseaux de l’entreprise.
                                        C’est en cela, qu’Ebenyx audite la qualité de codes sources puis assure des tests d’intrusion afin de renforcer
                                        la sécurité des sites et applications en ligne. ce qui fut le cas de ministère de la fonction publique en 2020
                                    </p>
                                </div>
                                <!-- /.portfolio-content -->
                            </div>
                            <!-- /.portfolio-item -->
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.portfolio grid -->
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>