<div th:fragment="_footer">
    <section class="footer-cta">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-5">
                    <h6 class="fz-16 my-4 text-bold text-white">Pour toutes questions ou conseils à nos experts</h6>
                </div>
                <!-- /.col-lg-5 -->
                <div class="col-sm-12 col-md-12 col-lg-7 d-flex align-items-center justify-content-end">
                    <a th:href="@{/solutions}" class="btn btn__white btn__bordered minwidth-170">
                    <span>Nos services</span>
                    </a>
                </div>
                <!-- /.col-lg-7 -->
            </div>
        </div>
    </section>
    <div class="bg-img"><img th:src="@{/assets/images/backgrounds/2.png}" alt="backgrounds"></div>
    <div class="footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 footer-widget footer-widget-about">
                    <div class="footer-widget__content">
                        <a th:href="@{/}">
                        <img th:src="@{/assets/images/logo/logo_light.png}" alt="logo" class="mb-30">
                        </a>
                        <p class="color-gray mb-40">
                            <span th:text="${session.Parametre.localisation}"></span>
                        </p>
                    </div>
                    <!-- /.footer-widget__content -->
                    <div class="contact-info">
                        <h6 class="footer-widget__title">Nous contacter</h6>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <ul class="contact-list list-unstyled mb-0 text-white">
                                    <li><a href="tel:002250708280544">
                                        <span th:text="${session.Parametre.contactInfoLine_1}"></span></a>
                                    </li>
                                    <li><a href="tel:002250708280544">
                                        <span th:text="${session.Parametre.contactInfoLine_2}"></span></a>
                                    </li>
                                    <li>Email : <a th:href="'mailto:' + ${session.Parametre.emailContact}" th:target="_blank">
                                        <span th:text="${session.Parametre.emailContact}"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <ul class="social-icons list-unstyled mb-0 mt-10">
                                    <li><a class="icon_facebook"
                                        th:href="${session.Parametre.pageFacebook}"
                                        th:target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a th:href="${session.Parametre.pageLinkedIn}" th:target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a class="icon_whatsapp"
                                        th:href="@{'https://wa.me/' + ${session.Parametre.whatsApp}}"
                                        th:target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                                <!-- /.social-icons -->
                            </div>
                        </div>
                    </div>
                    <!-- /.contact-info -->
                </div>
                <!-- /.col-xl-2 -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
                    <h6 class="footer-widget__title">Entreprise</h6>
                    <div class="footer-widget__content">
                        <nav>
                            <ul class="list-unstyled">
                                <li><a th:href="@{/about}">A Propos</a></li>
                                <li><a th:href="@{/expertise}">Expertise</a></li>
                                <li><a th:href="@{/Solutions}">Solutions</a></li>
                                <li><a th:href="@{/realisations}">Réalisations</a></li>
                                <li><a th:href="@{/contact}">Contacts</a></li>
                                <li><a th:href="@{/contact}">Parler à un conseillé</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.footer-widget__content -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
                    <h6 class="footer-widget__title">Solutions</h6>
                    <div class="footer-widget__content">
                        <nav>
                            <ul class="list-unstyled">
                                <li><a th:href="@{/solutions}">Technologie Oracle</a></li>
                                <li><a th:href="@{/solutions}">Cybersécurité & Infrastructure</a></li>
                                <li><a th:href="@{/solutions}">Formation Régie</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /.footer-widget__content -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="contact-info">
                        <h6 class="footer-widget__title">Newsletter</h6>
                        <p class="text-white">
                            Recevez gratuitement et sans engagement les dernières actualités
                            <span class="text-bold">Ebenyx Technologies</span> directement dans votre boîte de réception.
                        </p>
                        <form class="footer-form d-flex mb-0" action="#">
                            <input id="email_newsletters_input" type="text" class="form-control mr-20 text-white" placeholder="Votre adresse email">
                            <button
                                th:attr="onclick=|confirmNewsLetters(this)|"
                                type="button" class="btn btn__primary btn__primary-style2">Souscrire</button>
                        </form>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h6 class="footer-widget__title">Horaires</h6>
                            </div>
                            <div class="col-md-9">
                                <ul class="contact-list list-unstyled mb-0">
                                    <li>Lundi au Vendredi de 08:00 - 18:00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.contact-info -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-primary -->
    <div class="footer-secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="fz-14">&copy; 2021 propulsé par Ebenyx Technologies. Tous les droits sont reservés<br></span>
                    <span class="fz-14 text-italic">Design by Ebenyx</span>
                    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.footer-secondary -->
    <!-- ========================= _chat_box  ========================= -->
    <th:block th:include="partials/_chat_box/index :: _chat_box"></th:block>
    <!-- ========================= _chat_box end // ========================= -->
</div>