<div th:fragment="_breadcrumb">
    
    <!-- BREADCRUMBS -->
	<div class="breadcrumbs">
		<div class="container">
			<span>
				<a class="home" th:href="@{/}" title="Home" rel="v:url">Home</a>
			</span>
			<span>
				<span th:text="${page_title}"></span>
			</span>
		</div>
	</div><!-- /.breadcrumbs -->
    
</div>