<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:form="http://form"
    xmlns:field="http://field" lang="fr">
    
    <head>
        <!-- ========================= _header  ========================= -->
        <th:block th:include="partials/_head/index :: _head"></th:block>
        <!-- ========================= _header end // ========================= -->
    </head>
    
    <body>
        <div class="wrapper">
            <!-- =========================
                Header 
                =========================== -->
            <header class="header header-transparent">
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_top_bar/index :: _top_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
    
                <!-- ========================= _nav_bar  ========================= -->
                <th:block th:include="partials/_nav_bar/index :: _nav_bar"></th:block>
                <!-- ========================= _nav_bar end // ========================= -->
            </header>
            <!-- /.Header -->
    
            <!-- ========================
                page_title 
                =========================== -->
            <section class="page-title page-title-layout16 bg-overlay bg-parallax">
                <div class="bg-img"><img src="assets/images/page-titles/2.jpg" alt="background"></div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h2 class="pagetitle__heading mb-10"><span th:text="${page_title}"></span></h2>
                            <div class="breadcumb">
                                <a class="text-bold" th:href="@{/}">Accueil</a>
                                <i class="fa fa-angle-right"></i>
                                <span th:text="${page_title}"></span>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.page_title -->
            
            <!-- ========================
                Qui_sommes_nous
                =========================== -->
            <section class="about-layout1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="heading-layout2 mb-30">
                                <h3 class="heading__title mb-30">Qui sommes <span class="color_red_ebenyx">nous ?</span></h3>
                                <p class="heading__desc mb-20">
                                    Fondée en 2013 par Hervé Guede, Ebenyx Technologies est une société de Service et d’Ingénierie Informatique
                                    basée à Abidjan en Côte d’Ivoire.
                                </p>
                                <p class="heading__desc mb-25">
                                    Notre entreprise se positionne dans plusieurs domaines d’expertises informatiques : digitalisation,  cyber sécurité, Oracle, Blockchain, IA, Big Data.
                                    Nous accompagnons ainsi nos clients, acteurs publics comme privés, dans ces domaines en leur apportant des solutions sur-mesure,car nous pensons que chaque besoin est unique...
                                </p>
                                <blockquote>
                                    <p>
                                        « <span th:text="${session.Parametre.motFondateur}"></span> »
                                    </p>
                                    <div class="float-right">
                                        <small><span class="text-bold color_red_ebenyx" th:text="${session.Parametre.fondateur}"></span>,
                                        	<cite>Fondateur et CEO Ebenyx Technologies</cite></small>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- /heading -->
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="about__img">
                                <img src="assets/images/about/4.jpg"  alt="about">
                                <div class="cta-banner p-none">
                                    <div class="cta-banner__item">
                                        <div class="cta-banner__icon m-none">
                                            <img src="assets/images/about/ebt.png" class="p-sm" alt="about">
                                        </div>
                                    </div>
                                    <!-- /.cta-banner__item -->
                                </div>
                                <!-- /.cta-banner -->
                            </div>
                            <!-- /.about-img -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.Qui_sommes_nous -->
            
            <!-- =========================== 
                Nos_valeurs
                ============================= -->
            <section id="history" class="history-timeline pb-0">
                <div class="history-timeline-bg">
                    <div class="bg-img"><img src="assets/images/backgrounds/7.jpg" alt="background"></div>
                </div>
                <div class="container">
                    <div class="row heading heading-layout2">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <h3 class="heading__title color-white">Nos valueurs</h3>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
                <div class="timeline-bar"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="timeline-carousel-wrapper">
                                <div class="slick-carousel carousel-arrows-light"
                                    data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 768, "settings": {"slidesToShow": 2}}, {"breakpoint": 570, "settings": {"slidesToShow": 1}}]}'>
                                    <!-- timeline Item #1 -->
                                    <div class="timeline-item">
                                        <h4 class="timeline-item__year">Engagement</h4>
                                        <p class="timeline-item__desc text-white">
                                            Nous nous engageons sur les résultats, à l’atteinte d’objectifs SMART car chez nous la réussite est la seule option.
                                        </p>
                                    </div>
                                    <!-- /.timeline-item -->
                                    <!-- timeline Item #2 -->
                                    <div class="timeline-item">
                                        <h4 class="timeline-item__year">Force de proposition</h4>
                                        <p class="timeline-item__desc text-white">
                                            Nous vous accompagnons dans l’ensemble de vos projets et mettons à disposition notre expertise afin d’améliorer
                                            l’ensemble de vos process.
                                        </p>
                                    </div>
                                    <!-- /.timeline-item -->
                                    <!-- timeline Item #3 -->
                                    <div class="timeline-item">
                                        <h4 class="timeline-item__year">Capacité d’immersion</h4>
                                        <p class="timeline-item__desc text-white">
                                            Quel que soit votre projet, Ebenyx Technologies s’immerge dans votre métier afin de vous proposer des
                                            solutions qui répondent à vos besoins.
                                        </p>
                                    </div>
                                    <!-- /.timeline-item -->
                                    <!-- timeline Item #4 -->
                                    <div class="timeline-item">
                                        <h4 class="timeline-item__year">Flexibilité</h4>
                                        <p class="timeline-item__desc text-white">
                                            Nous vous proposons des solutions sur mesure tout en nous conformant à votre fonctionnement.
                                        </p>
                                    </div>
                                    <!-- /.timeline-item -->
                                    <!-- timeline Item #4 -->
                                    <div class="timeline-item">
                                        <h4 class="timeline-item__year">ADN Challenger</h4>
                                        <p class="timeline-item__desc text-white">
                                            Nous savons relever les défis quel qu’ils soient et restons compétitifs.
                                        </p>
                                    </div>
                                    <!-- /.timeline-item -->
                                </div>
                                <!-- /.carousel -->
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="download-area">
                                <p class="download-area__text">
                                	Faites le tour de l’activité et de l’expérience d’Ebenyx Technologies en un clic
                                </p>
                                <a th:href="@{/about/brochure}" class="btn btn__white btn__bordered btn__xl btn__icon mb-30">
                                <i class="fa fa-file"></i>
                                <span>Télécharger notre brochure</span>
                                </a>
                            </div>
                        </div>
                        <!-- /.col-lg-5 -->
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="cta-banner bg-overlay bg-overlay-primary">
                                <div class="bg-img"><img src="assets/images/banners/4.jpg" alt="background"></div>
                                <h4 class="cta-banner__title">Des Solutions indispensables à l’optimisation de votre activité !</h4>
                                <p class="cta-banner__desc">
                                	Du management de votre organisation à la sauvegarde de vos
                                	données ou encore à la sécurité de votre réseau, Ebenyx
									Technologies, vous fournit les logiciels permettant de faire
									grandir votre activité et votre chiffre d’affaire par la même occasion.
                                </p>
                                <div class="d-flex flex-wrap">
                                    <a th:href="@{/solutions}" class="btn btn__white btn__bordered btn__xl mb-30">
                                    <span>Nos services</span>
                                    </a>
                                </div>
                            </div>
                            <!-- /.cta-banner -->
                        </div>
                        <!-- /.col-lg-7 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /.Nos_valeurs -->
            
            <!-- ========================= 
		         partenaires
		    =========================  -->
		    <section th:if="${#lists.size(Partenaires) != 0}" class="careers">
		      	<div class="container">
		        <div class="row">
		          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
		            <div class="heading text-center mb-50">
		              <h3 class="heading__title color_red_ebenyx">Nos partenaires</h3>
		            </div><!-- /.heading -->
		          </div><!-- /.col-lg-10 -->
		        </div><!-- /.row -->
		        <div class="row">
		          <div class="col-sm-12 col-md-12 col-lg-12">
		            <!-- career item #1 -->
		            <div th:each="e, custStat: ${Partenaires}" class="job-item">
		              <div class="row">
		                <div class="col-md-4 col-lg-4">
		                  <div class="portfolio-item__img">
			                <a href="/solutions/view/360°">
			                	<img th:src="@{/about/getlogopartenaire(filename=${e.photo})}"></a>
			              </div>
		                </div><!-- /.col-lg-4 -->
		                <div class="col-md-8 col-lg-8">
		                  <p class="job-item__desc">
		                  	<h4 class="job-item__title color_bleu_ebenyx mb-20"><span th:text="${e.nom}"></span></h4>
		                  	<span th:utext="${e.description}"></span>
		                  </p>
		                </div><!-- /.col-lg-8 -->
		              </div><!-- /.row -->
		            </div><!-- /.job-item -->
		          </div><!-- /.col-lg-12 -->
		        </div><!-- /.row -->
		      </div><!-- /.container -->
		    </section><!-- /.partenaires -->
            
            <!-- ========================
                Footer
                ========================== -->
            <footer class="footer bg-heading">
                <!-- ========================= _footer  ========================= -->
                <th:block th:include="partials/_footer/index :: _footer"></th:block>
                <!-- ========================= _footer end // ========================= -->
            </footer>
            <!-- /.Footer -->
            
            <!-- ========================= _left_side_bar  ========================= -->
            <th:block th:include="partials/_left_side_bar/index :: _left_side_bar"></th:block>
            <!-- ========================= _left_side_bar end // ========================= -->
        </div>
        <!-- /.wrapper -->
        
        <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/assets/js/plugins.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
        <!-- ========================= shared_newsletters  ========================= -->
        <script th:src="@{/shared/front/newsletters/index.js}"></script>
        <!-- ========================= shared_newsletters end // ========================= -->
    </body>
</html>