<div th:fragment="_breadcrumb">

    <div class="content-header text-sm">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0 text-bold"><span th:text="${page_title}"></span></h5>
                </div>
                <!-- /.col -->
                <div class="col-sm-6 text-sm">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/tableau_de_bord}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active"><span th:text="${page_title}"></span></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

</div>